.video-detail-card {
    margin-top: 20px;
    width: 650px
}
.sub-detail-card {
    margin: 10px
}

.video-container1 {
    height: 900px;
    width: 1600px
}


/**/
.playlist-text-content {
    width: 900px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: -15px;
}
.video-card {
    margin-top: 50px;
    margin-bottom: 30px;
}
.playlist-container {
    margin-left: 150px;
}

.video-details-strip {
    margin-top: 10px
}
.video-thumbnail {
    cursor: pointer;
}



/* Material Card Properties */

.material-video-card {
    width: 1000px;
    margin: 50px;
    height: 124px;
}

.material-video-card-thumbnail {
    display: inline-block;
}

.thumbnail-photo {
    margin-top: 5px;
}

.material-video-card-content {
    display: inline-block;
    width: 750px;
    padding-left: 20px;
    vertical-align: top;
}

.material-video-card-title {
    /* margin-bottom: 56px; */
    font-weight: bold;
}

.material-video-card-title-wrapper {
}

.material-video-card-description {
    /* margin-top: 10px; */
    margin-top: 18px;
}

.video-card-information-strip {
    margin-top: -6px;
}

.information-strip-items {
    padding-right: 5px;
}

.divider-star {
    font-size: 11px;
    padding-right: 5px;
}


/* New logic */
.content-wrapper {
    margin-top: 45px;
}

.episode-video-heading-bar-wrapper {
    /* position: relative; */
    margin-bottom: 75px;
}
.episode-video-heading-bar {
    border-top: 46px solid #3700b3;
    border-left: 0px solid transparent;
    border-right: 39px solid transparent;
    height: 0;
    width: 186px;
    margin-bottom: 18px;
    position: relative;
}

.episode-video-heading-bar-text {
    position: absolute;
    top: -33px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 45px;
}

.episode-video-list-wrapper {
    margin-left: 37px;
}

.current-video-thumbnail-wrapper {
    display: inline-block;
}

.current-video-thumbanail-image {
    width: 400px;
    margin-left: -13px;
}

.current-video-data-wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

.current-video-content-wrapper {
    width: 700px;
    display: inline-block;
    vertical-align: top;
    margin-left: 46px;
}

.current-video-video-title {
    font-weight: Bold;
    font-size: 24px;
}

.current-video-description {
    margin-top: 20px;
}

.video-related-details-wrapper {
    margin-top: 15px;
}

.video-related-details-items {
    margin-right: 10px;
}

.current-video-play-video {
    margin-top: 20px;
}

.current-video-material-card {
    width: 1200px;
    margin: 0px auto;
}

.play-button-image {
    width: 30px;
    margin-top: 3px;
    margin-left: -6px;
    position: absolute;
}

.play-button-text {
    color: white;
    font-weight: bold;
    margin-left: 29px;
}

.play-button-image-wrapper {
} 

.play-button {
    background-color: #3700b3;
    position: relative;
}

.episode-video-cards {
    width: 900px;
    margin-bottom: 20px;
    /* margin: 0px auto; */
}
.episode-list-thumbnail-wrapper {
    display: inline-block;
}

.episode-list-video-thumbnail {
    width: 175px;
}

.episode-list-details-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 700px;
    margin-left: 19px;
    margin-top: -12px;
}

.episode-video-details-element {
    margin-left: 20px;
}

.main-video-name {
    cursor: pointer;
    margin-top: -12px;
}

.like-button {
    background-color: #3700b3;
    position: relative;
    margin-left: 22px;
}

.likeButtonText {
    color: white;
    font-weight: bold;
} 