.playlist-text-content {
    width: 900px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: -15px;
}
.video-card {
    margin-top: 50px;
    margin-bottom: 30px;
    right: 60px;
}
.playlist-container {
    margin-left: 150px
}
.playlist-episode {
    margin-left: 35px 
}
.video-details-strip {
    margin-top: 10px
}
.video-thumbnail {
    cursor: pointer;
}
.video-name {
    cursor: pointer;
}


/* Material Card Properties */

.material-video-card {
    width: 1000px;
    margin: 50px;
    height: 124px;
}

.material-video-card-thumbnail {
    display: inline-block;
}

.thumbnail-photo {
    margin-top: 5px;
}

.material-video-card-content {
    display: inline-block;
    width: 750px;
    padding-left: 20px;
    vertical-align: top;
}

.material-video-card-title {
    /* margin-bottom: 56px; */
    font-weight: bold;
}

.material-video-card-title-wrapper {
}

.material-video-card-description {
    /* margin-top: 10px; */
    margin-top: 18px;
}

.video-card-information-strip {
    margin-top: -6px;
}

.information-strip-items {
    padding-right: 5px;
}

.divider-star {
    font-size: 11px;
    padding-right: 5px;
}